/* trending-card */

.trendingCard {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: 24rem;
  background: var(--bgColor2);
  color: var(--text-color);
  position: relative;
  border-radius: 1rem;
}

.trendingLink {
  text-decoration: none;
}

.trendingCard:hover {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.trendingCard-Info {
  padding-top: 5px;
  height: auto;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.trendingTitleAlign {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trendingCardImage {
  width: 20rem;
  object-fit: cover;
}

.trendingTitle {
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--textColor);
}

.trendingCardRank {
  font-family: "montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: var(--secondary-color);
}

.trendingImage {
  width: 17rem;
  height: 24rem;
  object-fit: cover;
  border-radius: 0 1rem 1rem 0;
}

.playIcon {
  color: var(--textColor);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 2rem;
  opacity: 0;
  z-index: 2;
}

.trendingCard:hover .playIcon {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.trendingCard:hover .trendingImage {
  text-align: center;
  opacity: 0.5;
  /* filter: blur(2px); */
  filter: saturate(0.5);
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 950px) {
  .trendingCard {
    width: 15rem;
    height: 20rem;
  }

  .trendingCard-Info {
    width: 3rem;
  }

  .trendingCardImage {
    width: 11rem;
  }

  .trendingTitle {
    font-size: 1.2rem;
  }

  .trendingCardRank {
    font-size: 2.5rem;
  }

  .trendingImage {
    width: 15rem;
    height: 20rem;
  }
}

/* display-card */
.displayCard {
  display: flex;
  flex-direction: column;
  width: 14rem;
  max-height: 24rem;
  padding: 0.8em;
  background: var(--bgColor2);
  color: #ffffff;
  position: relative;
  overflow: visible;
}

.displayCard:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.display-info {
  padding-top: 5px;
  height: auto;
}

.displayTitle {
  font-family: "montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-color);
}

.displayTitleAlign {
  height: 2rem;
  /* border: 1px solid red; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.displayCardImage {
  width: 12rem;
  height: 18rem;
  object-fit: cover;
}

.displayImage {
  width: 15rem;
  height: 18rem;
  object-fit: cover;
}

.displayInfo {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.displayInfoCont {
  font-size: 0.7rem;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  padding-right: 1rem;
}

.playIcon2 {
  color: var(--textColor);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1rem;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.displayCardTags{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    left: .7dvw;
    gap: 0.4rem;

    transition: all 0.5s ease-in-out;
}

.displayCard:hover .playIcon2 {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.displayCard:hover .displayImage {
  text-align: center;
  opacity: 0.5;
  filter: blur(2px);
  transition: 0.5s ease-in-out;
}

.displayCard:hover .displayCardTags {
    display: none;
    transition: 0.5s ease-in-out;
  }

.displayCardOverlay {
  color: var(--textColor);
  position: absolute;
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  bottom: 0;
  left: 0.5rem;
  opacity: 0;
  z-index: 1;
}

.displayCardOverlay2 {
  color: var(--textColor);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -9.5rem;
  bottom: 0;
  left: -4rem;
  opacity: 0;
  z-index: 1;
}

.displayCard .displayCardOverlay {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.displayCard:hover .displayCardOverlay {
  opacity: 0.5;
  filter: blur(2px);
}

.displayCard .displayCardOverlay2 {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.displayCard:hover .displayCardOverlay2 {
  opacity: 0.5;
  filter: blur(2px);
}

.displayCardOverlayCont {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.displayInfoBtn1,
.displayInfoBtn2 {
  background-color: var(--primary-color);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.65rem;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
}

.displayInfoBtn1 {
  background-color: var(--primary-color);
  color: var(--TextColor);
}

.displayInfoBtn2 {
  background-color: #fc4a4a;
  color: var(--TextColor);
}

@media screen and (max-width: 950px) {
  .displayCard {
    width: 9.5rem;
    height: 15rem;
    padding: 0.4em;
  }

  .displayCard:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .display-info {
    padding-top: 1px;
    height: auto;
  }

  .displayInfo {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }

  .displayInfoCont {
    font-size: 0.4rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
  }

  .displayTitle {
    font-family: "montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .displayImage {
    width: 10rem;
    height: 12rem;
    object-fit: cover;
  }

  .displayCardImage {
    width: 8.5rem;
    height: 12rem;
    object-fit: cover;
  }

  .displayTitleAlign {
    height: 1.5rem;
    /* border: 1px solid red; */
  }

  .displayInfoBtn1,
  .displayInfoBtn2 {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.4rem;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
  }

  .displayCardOverlay {
    top: 0.5rem;
    bottom: 0;
    left: 0.8rem;
    opacity: 0;
    z-index: 1;
  }

  .displayCardOverlay2 {
    top: -8rem;
    bottom: 0;
    left: -2.5rem;
    opacity: 0;
    z-index: 1;
  }

  .displayCard .displayCardOverlay {
    opacity: 1;
    transition: 0.5s ease-in-out;
  }

  .displayCard:hover .displayCardOverlay {
    opacity: 0.5;
    filter: blur(2px);
  }

  .displayCard .displayCardOverlay2 {
    opacity: 1;
    transition: 0.5s ease-in-out;
  }

  .displayCard:hover .displayCardOverlay2 {
    opacity: 0.5;
    filter: blur(2px);
  }
}
